		
body {
	background-image: url("immagini2/Z.png");

}
button {
	background-color: rgb(155, 16, 44);
	border-radius: 10px;
}
h1 {
	color: white;
}

h2 {
	color: white;
}
p {
	color: white;
}
